.create-blog form{
    max-width: 400px;
    margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
.create-blog label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.create-blog button{
    /*margin-top: 20px;*/
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    margin: 2rem 0;
}
.row-form {
    display: flex;
    flex-wrap: wrap;
}
.col-left{
    width: 60%;
}
.col-form {
    text-align: center;
    width: 40%;

}
.show-info{
    display: flex;
    justify-items: center;
    align-items: center;
}
.center {
    margin: 5rem auto;
    width: 50%;
    padding: 10px;
}
.display-f {
    display: flex;
}
@media screen and (max-width: 600px) {
    .row-form {
        flex-direction: column;
    }
    .col-left{
        width: 100%;
    }
}