.container{
    background: black;
    opacity: 0.75;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    width: 100%;
}
.container .row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}
.col{
    display: flex;
    justify-content: center;
}
.col .col-left{
    padding:0 1rem;
    margin: 0 1rem;
}
.col .col-left p{
    padding: .5rem;
    margin: .5rem;
}

.col .col-right{
    padding:0 1rem;
    margin: 0 1rem;
}
.col .col-right p{
    padding: .5rem;
    margin: .5rem;
}
@media screen and (max-width: 600px) {
   .container .row {
       display: flex;
       justify-content: flex-start;
       padding-left: 1rem;
   }

    .col .col-left{
        padding: 0;
        margin: 0;
        width: 170px;
    }
    .col .col-left p{
        padding: .5rem 0;
        margin: .5rem 0;
    }
    .col .col-right {
        padding: 0;
        margin: 0;
        width: 170px;
    }
    .col .col-right p{
        padding: .5rem 0;
        margin: .5rem 0;
    }

}
@media screen and (max-width: 320px) {
    .container .row {
        padding-left: 0;
    }
    .col .col-left{
        font-size: 14px;
        width: 150px;

    }
    .col .col-left p{
        padding: .3rem 0;
        margin: .3rem 0;
    }

    .col .col-right{
        font-size: 14px;
        width: 150px;

    }
    .col .col-right p{
        padding: .3rem 0;
        margin: .3rem 0;
    }
}



/*.col ul {*/
/*    list-style-type: none;*/
/*}*/
/*.col ul li {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-content: center;*/
/*    padding: 1rem;*/
/*    margin: 1rem;*/
/*}*/
/*.col ul li p {*/
/*    padding:  0 1rem;*/
/*    margin:  0 1rem;*/
/*}*/
/*.col ul li span {*/
/*    padding:  0 1rem;*/
/*    margin:  0 1rem;*/
/*}*/