/*.container{*/
/*    background: black;*/
/*    opacity: 0.75;*/
/*    margin: 0 auto;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*    width: 100%;*/
/*}*/
/*.container .row {*/
/*    display: flex;*/
/*    flex-flow: wrap;*/
/*    justify-content: space-around;*/
/*    align-content: center;*/
/*}*/
.col-lg{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.col-lg p {
    padding: .5rem;
    margin: .5rem;
}
@media screen and (max-width: 600px) {
    .col-lg {
        width: 160px;
        font-size: 14px;
    }
    .col-lg p {
        padding: .5rem 0;
        margin: .5rem 0;
    }
}
@media screen and (max-width: 320px) {
    .col-lg {
        width: 144px;
        font-size: 13px;
    }
    .col-lg p {
        padding: .5rem 0;
        margin: .5rem 0;
    }
}