.container {
    background: black;
    opacity: 0.75;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    width: 100%;
}

.container .row {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-content: center;
}

.btn-info {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: .9rem;
    margin:.4rem 1rem;
    border-radius: 50%;
    background-color: #e2e2e2;

}

.btn-info:hover {
    transition: all .3s ease;
    background: #acabab;
    animation: btn-anim 3s infinite;

}

.row-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.row p {
    /*padding: .3rem 1rem;*/
}

@keyframes btn-anim {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(2px);
    }

}
@media screen and (max-width: 600px) {
    .row-footer {
        justify-content: flex-end;
    }
    .btn-info {
        margin: .1rem;
    }
}